In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("iris.csv",sep=",")

In [4]:
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [5]:
df.isnull().sum()

sepal.length    0
sepal.width     0
petal.length    0
petal.width     0
variety         0
dtype: int64

In [6]:
df["variety"].unique()

array(['Setosa', 'Versicolor', 'Virginica'], dtype=object)

In [7]:
df_Iris_Setosa = df[df["variety"] == "Setosa"]
df_Iris_Setosa.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [8]:
df_Iris_Versicolor = df[df["variety"] == "Versicolor"]
df_Iris_Versicolor.head()

    sepal.length  sepal.width  petal.length  petal.width     variety
50           7.0          3.2           4.7          1.4  Versicolor
51           6.4          3.2           4.5          1.5  Versicolor
52           6.9          3.1           4.9          1.5  Versicolor
53           5.5          2.3           4.0          1.3  Versicolor
54           6.5          2.8           4.6          1.5  Versicolor

In [9]:
df.shape

(150, 5)

In [10]:
df_Iris_Versicolor.shape

(50, 5)

In [11]:
df_Iris_Setosa.shape

(50, 5)

In [12]:
df_merge_Sv = pd.concat([df_Iris_Setosa,df_Iris_Versicolor])
df_merge_Sv

    sepal.length  sepal.width  petal.length  petal.width     variety
0            5.1          3.5           1.4          0.2      Setosa
1            4.9          3.0           1.4          0.2      Setosa
2            4.7          3.2           1.3          0.2      Setosa
3            4.6          3.1           1.5          0.2      Setosa
4            5.0          3.6           1.4          0.2      Setosa
..           ...          ...           ...          ...         ...
95           5.7          3.0           4.2          1.2  Versicolor
96           5.7          2.9           4.2          1.3  Versicolor
97           6.2          2.9           4.3          1.3  Versicolor
98           5.1          2.5           3.0          1.1  Versicolor
99           5.7          2.8           4.1          1.3  Versicolor

[100 rows x 5 columns]

In [13]:
df_sort_petal_length = df.sort_values(by=["petal.length"])
df_sort_petal_length

     sepal.length  sepal.width  petal.length  petal.width    variety
22            4.6          3.6           1.0          0.2     Setosa
13            4.3          3.0           1.1          0.1     Setosa
14            5.8          4.0           1.2          0.2     Setosa
35            5.0          3.2           1.2          0.2     Setosa
36            5.5          3.5           1.3          0.2     Setosa
..            ...          ...           ...          ...        ...
131           7.9          3.8           6.4          2.0  Virginica
105           7.6          3.0           6.6          2.1  Virginica
117           7.7          3.8           6.7          2.2  Virginica
122           7.7          2.8           6.7          2.0  Virginica
118           7.7          2.6           6.9          2.3  Virginica

[150 rows x 5 columns]

In [14]:
data_Transpose = df.transpose()

In [15]:
data_Transpose

,0,1,2,3,4,5,6,7,8,9,...,140,141,142,143,144,145,146,147,148,149
sepal.length,5.1,4.9,4.7,4.6,5.0,5.4,4.6,5.0,4.4,4.9,...,6.7,6.9,5.8,6.8,6.7,6.7,6.3,6.5,6.2,5.9
sepal.width,3.5,3.0,3.2,3.1,3.6,3.9,3.4,3.4,2.9,3.1,...,3.1,3.1,2.7,3.2,3.3,3.0,2.5,3.0,3.4,3.0
petal.length,1.4,1.4,1.3,1.5,1.4,1.7,1.4,1.5,1.4,1.5,...,5.6,5.1,5.1,5.9,5.7,5.2,5.0,5.2,5.4,5.1
petal.width,0.2,0.2,0.2,0.2,0.2,0.4,0.3,0.2,0.2,0.1,...,2.4,2.3,1.9,2.3,2.5,2.3,1.9,2.0,2.3,1.8
variety,Setosa,Setosa,Setosa,Setosa,Setosa,Setosa,Setosa,Setosa,Setosa,Setosa,...,Virginica,Virginica,Virginica,Virginica,Virginica,Virginica,Virginica,Virginica,Virginica,Virginica

In [16]:
df_melted = pd.melt(df,id_vars=["sepal.width","petal.width","variety"])
df_melted.head()

   sepal.width  petal.width variety      variable  value
0          3.5          0.2  Setosa  sepal.length    5.1
1          3.0          0.2  Setosa  sepal.length    4.9
2          3.2          0.2  Setosa  sepal.length    4.7
3          3.1          0.2  Setosa  sepal.length    4.6
4          3.6          0.2  Setosa  sepal.length    5.0

In [17]:
df_casting = pd.pivot_table(df,index=["variety"])
df_casting.head()

            petal.length  petal.width  sepal.length  sepal.width
variety
Setosa             1.462        0.246         5.006        3.428
Versicolor         4.260        1.326         5.936        2.770
Virginica          5.552        2.026         6.588        2.974